body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eaefff;
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

h1 {
	color: #222;
	font-size: 2rem;
}

#decoder {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;
}

input[type='text'],
input[type='number'] {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: calc(100% - 22px);
	font-size: 1rem;
}

button {
	padding: 10px 20px;
	background-color: #5eecbf;
	border: none;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
	font-size: 1rem;
}

button:hover {
	background-color: #00b389;
}

#result,
#encodedResult {
	margin-top: 20px;
	padding: 10px;
	background-color: #648cf6;
	border-radius: 5px;
}

#encodedResult {
	margin: 10px 0;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
	background-color: #f6648c;
}

#codeInput {
	margin-top: 20px;
}

input,
button {
	display: inline-block;
}

@media screen and (max-width: 600px) {
	input[type='text'],
	input[type='number'],
	button {
		margin: 10px 0;
		width: calc(100% - 20px);
	}

	#decoder {
		width: 80%;
	}
}
